@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter;
}

@layer base {
  body {
    @apply !scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-blue-700;
  }
}

.modal-slide-up {
  opacity: 0;
  transform: translateY(100%);
}

.modal-slide-up-enter {
  opacity: 0;
  transform: translateY(100%);
}

.modal-slide-up-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition:
    opacity 300ms ease-out,
    transform 300ms ease-out;
}

.modal-slide-up-leave {
  opacity: 1;
  transform: translateY(0%);
}

.modal-slide-up-leave-active {
  opacity: 0;
  transform: translateY(100%);
  transition:
    opacity 300ms ease-in,
    transform 300ms ease-in;
}

@layer components {
  .input {
    @apply w-full p-4 border-2 border-gray-300 rounded-md focus:outline-none focus:border-blue-400 mb-4;
  }
  .form-field {
    @apply w-full outline-0 bg-[#F1F4F5] rounded-xl p-4;
  }
}
